/****************
     COLORS
****************/

:root {
    --first-color: blue;
    --first-color-light: skyblue;
    --second-color: #9593E6;
    --third-color: white;
    --fourth-color: black;
    --fifth-color: grey;
}

.col.light-color {
    color: var(--first-color);
}

.col.light-color p {
    color: var(--fifth-color);
}

.main-content-color {
    background-color: var(--first-color);
}

.light-color {
    background-color: var(--first-color-light);
}

.second-color {
    background-color: var(--second-color);
}

.col.white {
    background-color: var(--third-color);
}

.black {
    background-color: var(--fourth-color);
}