/*******************
    COMMON RULES
*******************/
* {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1.25rem;
}

img {
    display: block;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 1.875rem -.625rem;
    padding: 0 1.25rem;
}

.col {
    width: calc(100% - 1.25rem);
    margin: 0 .625rem;
    padding: 1.875rem;
    margin-bottom: 1.25rem;
}


