/**********************
       CSS RULES
**********************/
@import "reset.css";
@import "general.css";
@import "colors.css";
@import "debug.css";


/**********************
        HEADER
**********************/

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
}

.header-content ul {
    list-style: none;
}

.header-content ul li {
    display: inline-block;
}

.nav-container {
    display: none;
}

/**********************
       MAIN
**********************/
section {
    margin-bottom: 3.125rem;
}

.row.plus-padding {
    padding: 0 3.125rem;
}






/***********************
        FOOTER
***********************/
footer {
    text-align: center;
}
















/*********************
     TABLET QUERY
*********************/
@media screen and (min-width:768px) {

        /*MAIN*/

        .col {
            width: calc((100% / 3) - 1.25rem);
        }

        .col:first-child {
            width: calc(((100% / 3) * 2) - 1.25rem);
        }

        .col.big {
            width: 100%;
        }

        .col.second-color {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }

        .row h2 {
            width: 100%;
        }

        .col.white {
            width: calc((100% / 2) - 1.25rem);
        }

        .col.half {
            width: calc((100% / 2) - 1.25rem);
            order: 1;
        }

        .col.last {
            order: 2;
        }
        


    
}
























/************************
       PHONE QUERY
************************/
@media screen and (min-width:992px) {

    /*HEADER*/

    .nav-container {
        display: block;
    }

    .menu {
        display: none;
    }

    /*MAIN*/

    .row.big {
        flex-wrap: nowrap;
        padding: 0 6.25rem;
    }

    .col.big {
        width: calc(100% / 2);
    }

    .col.white {
        width: calc((100% / 3) - 1.25rem);
    }

}
